body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

.jumbotron {
    background-image: url("../Images/Screen\ Shot\ 2021-03-11\ at\ 1.01.01\ AM.png");
    background-size: cover;
    /* color:azure; */
    text-align:center;
  }

/* increase the default font size inherited from reboot CSS body */
#date-display {
    font-size: 30px;
}

/* ****************************************************************** */

/*search bar style*/
.wrap {
    display: flex;
    padding: 10pt;
  }

  /* this is the size and the text in the search bar */
.searchTerm {
    /* width: 200px; */
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 36px;
    color: black;
    font-size: 12pt;
    /* justify-content: left; */
  }

.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    /* text-align: left; */
    color: #fff;
    border-radius: 0 5px 5px 0;
    /* this font-size is the size of the icon */
    font-size: 20px;
  }

.searchButton:hover {
    color:darksalmon;
}

/* whole search bar column element */
.search-bar {
    position:absolute;
    left: 20px;
    top: 16rem;
    bottom: 0px;
    right: 0px;
    font-size: 35px;
    background-color: #FAFAFA;
    margin: 20px;
    padding: 5px;
}

/* this is the cities saved as a button */
.saveBtn {
    display: flex;
    justify-content: center;
    margin: 20px;
    background-color: white;
    font-size: 20pt;
}

.saveBtn:hover {
    color:darksalmon;
}

/* ****************************************************************** */

.card {
    border: none
}

.weather-cards {
    font-size: 24pt;
    text-align: left;
    border: 5px solid cornflowerblue;
    margin: 40px;
    padding: 20pt;
}

.five-day-forecast {
    margin: 5px;
    background-color: cornflowerblue;
    padding: 5px;
    font-size: 16pt;
    text-align: center;

}

.row {
    font-size: 30pt;
}

.allWeatherCards {
    margin: 20px;
}


/* ****************************************************************** */

/* @media only screen and (max-width: 1200px){
    /*Tablets [601px -> 1200px]*/
/* }
@media only screen and (max-width: 600px){ */
    /*Big smartphones [426px -> 600px]*/
/* } */ 

    /*Small smartphones [325px -> 425px]*/


    @media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
        .five-day-forecast {
          background: #bada55;
          /* margin-top: 500pt; */
          /* position: fixed; */
          /* float:inline-end; */
        }
        .card {
            /* margin-top: 500pt; */
            /* position:static; */
        }
      }