body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

.jumbotron {
    background-image: url("../Images/Screen\ Shot\ 2021-03-11\ at\ 1.01.01\ AM.png");
    background-size: cover;
    /* color:azure; */
    text-align:center;
  }

/* increase the default font size inherited from reboot CSS body */
#date-display {
    font-size: 30px;
}

/* ****************************************************************** */

/*search bar style*/
.wrap {
    display: flex;
    padding: 10pt;
  }

  /* this is the size and the text in the search bar */
.searchTerm {
    /* width: 200px; */
    border: 3px solid #00B4CC;
    border-right: none;
    padding: 5px;
    height: 36px;
    color: black;
    font-size: 12pt;
    /* justify-content: left; */
  }

.searchButton {
    width: 40px;
    height: 36px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    /* text-align: left; */
    color: #fff;
    border-radius: 0 5px 5px 0;
    /* this font-size is the size of the icon */
    font-size: 20px;
  }

.searchButton:hover {
    color:darksalmon;
}

/* whole search bar column element */
.search-bar {
    position:absolute;
    left: 20px;
    top: 16rem;
    bottom: 0px;
    right: 0px;
    font-size: 35px;
    background-color: #FAFAFA;
    margin: 20px;
    padding: 5px;
}


/* ****************************************************************** */


/* style the main "todays weather" */
.todays-weather {
    /* background-color: #00B4CC; */
    /* padding: 10pt; */
    /* margin: 10pt; */
    text-align: center;
    margin: 5px;
    /* background-color: cornflowerblue;
    padding: 5px; */
    border: 5px solid cornflowerblue;
    /* justify-content: center; */
    /* width: 500pt; */
}

.card-text {
    font-size: 12pt;
}

.weather-cards {
    /* top: 16rem; */
    /* left: 40%; */
    margin-left: 25%;
    /* background-color: lightsalmon; */
    font-size: 24pt;
    text-align: center;
    
}

.five-day-forecast {
    margin: 5px;
    background-color: cornflowerblue;
    padding: 5px;
    text-align: center;
    /* width: 100px; */

}

.row { 
    margin: 0;
}

.col-9.bg-primary.offset-3 {
    background-color: white;
}

.saveBtn {
    /* margin: 0; */
    /* position: absolute; */
    /* top: 50%;
    left: 50%; */
    display: flex;
    justify-content: center;
    margin: 20px;
    background-color: white;
    font-size: 20pt;
}